@model ManagementCafe.Models.HoaDon

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script src="~/Scripts/myScript.js"></script>
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>HoaDon</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.HoaDonID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">HD</span>
                    <input type="text"
                           id="HoaDonIDInput"
                           name="HoaDonID"
                           class="form-control"
                           value="@ViewBag.NewHoaDonID"
                           readonly
                           style="background-color: #e9ecef; color: #495057;">
                </div>
                @Html.ValidationMessageFor(model => model.HoaDonID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayLap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-3">
                    <input type="text"
                           id="NgayLapInput"
                           name="NgayLap"
                           class="form-control"
                           placeholder="MM/dd/yyyy"
                           aria-label="NgayLap"
                           aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">
                        <input type="date" id="NgayLapPicker" class="form-control" onchange="syncDateInputs()">
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.NgayLap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianLap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-3">
                    <input type="text"
                           id="ThoiGianLapInput"
                           name="ThoiGianLap"
                           class="form-control"
                           placeholder="hh:mm:ss"
                           aria-label="ThoiGianLap"
                           aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">
                        <input type="time" id="ThoiGianLapPicker" class="form-control" onchange="syncTimeInputs()">
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.ThoiGianLap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NhanVienID, "NhanVienID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NhanVienID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NhanVienID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KhachHangID, "KhachHangID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KhachHangID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KhachHangID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TongTien, "Tổng Tiền", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-3">
                    <input type="text"
                           id="TongTienInput"
                           name="TongTienInput"
                           class="form-control-sm"
                           placeholder="Nhập ở dạng số"
                           aria-label="TongTien"
                           aria-describedby="basic-addon1"
                           oninput="formatCurrency(this)">
                    <span class="input-group-text" id="basic-addon1">VNĐ</span>
                </div>
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
