@model ManagementCafe.Models.HoaDon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.getElementById('TongTienInput');
        input.addEventListener('input', function () {
            // Xóa tất cả các ký tự không phải số
            let value = input.value.replace(/\D/g, '');

            // Định dạng lại số với dấu phẩy
            value = new Intl.NumberFormat('vi-VN').format(value);

            // Gán lại giá trị đã định dạng vào input
            input.value = value;
        });

        // Định dạng lại giá trị ban đầu khi trang được tải
        let initialValue = input.value.replace(/\D/g, '');
        input.value = new Intl.NumberFormat('vi-VN').format(initialValue);
    });
    </script>
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>HoaDon</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.HoaDonID)

    <div class="form-group">
        @Html.LabelFor(model => model.HoaDonID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoaDonID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoaDonID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayLap, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayLap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayLap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThoiGianLap, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThoiGianLap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ThoiGianLap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NhanVienID, "NhanVienID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("NhanVienID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NhanVienID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KhachHangID, "KhachHangID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("KhachHangID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KhachHangID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TongTien, "Tổng Tiền", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="input-group mb-3">
                <input type="text"
                       id="TongTienInput"
                       name="TongTienInput"
                       class="form-control-sm"
                       placeholder="Nhập ở dạng số"
                       aria-label="Gia"
                       aria-describedby="basic-addon1"
                       value="@Model.TongTien.ToString("N0")"
                       oninput="formatCurrency(this)">
                <span class="input-group-text" id="basic-addon1">VNĐ</span>
            </div>
            @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
