@model IEnumerable<_23TH2508_Final_Project.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang chủ quản lý Hóa Đơn</h2>

<div class="d-flex justify-content-between align-items-center mb-3">
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>

    <form method="get" action="@Url.Action("Index")" class="form-inline">
        <div class="form-group mr-2">
            <input type="text" name="searchTerm" class="form-control" placeholder="Nhập mã hóa đơn..." value="@Request.QueryString["searchTerm"]" />
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            Hóa đơn ID
        </th>
        <th>
            Ngày lập
        </th>
        <th>
            Thời gian lập
        </th>
        <th>
            Tổng Tiền
        </th>
        <th>
            Khách Hàng
        </th>
        <th>
            Nhân Viên Order
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HoaDonID }, new { @class = "btn btn-secondary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.HoaDonID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HoaDonID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<div class="d-flex justify-content-between align-items-center">
    <div>
        @Html.ActionLink("Tìm kiếm chi tiết hơn", "TimKiem_HD", null, new { @class = "btn btn-primary" })
    </div>

    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        @Html.ActionLink(i.ToString(), "Index", new { page = i, searchTerm = Request.QueryString["searchTerm"] }, new { @class = "page-link" })
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>